/* DataCitation.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
}

.data-citation-wrapper {
    background: rgba(0, 51, 102, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 30px;
    text-align: center;
    width: 600px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
}

.form-section, .appointment-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.appointment-details p {
    font-size: 20px; /* Controla el tamaño del texto de los detalles de la cita */
}

.data-citation-wrapper input, .data-citation-wrapper select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}

.data-citation-wrapper button {
    padding: 12px 24px;
    background-color: rgba(0, 86, 179, 0.7); /* Color similar al de los selectores de hora */
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

.data-citation-wrapper button:hover {
    background-color: rgba(0, 122, 255, 0.8); /* Color similar al de los selectores de hora */
    transform: scale(1.05);
}

.data-citation-wrapper button:disabled {
    background-color: rgba(204, 204, 204, 0.6);
    cursor: not-allowed;
    transform: none;
}
